<<div class="page-content page-app page-profil" style="margin-top:21px; ">
  <div class="col-lg-12 col-md-12">
    <div class="profil-content" >
	    <div class="profil-content" >
        <div class="row"  style="padding-left: 20px;">
<div class="alert alert-danger">
    <strong><i class="fa fa-gavel"></i> {$LANG.bannedyourip} {$ip} {$LANG.bannedhasbeenbanned}</strong>
    <p>{$LANG.bannedbanreason}: <strong>{$reason}</strong></p>
        <p>{$LANG.bannedbanexpires}: {$expires}</p>
    </ul>
</div>
</div>

</div>
    </div>
  </div>
</div>