{if $clientsstats.productsnumtotal != 0}
<style>
.internal42 {
    width: 100%;
    height: 100%;
}

.container42 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 }
</style>
<div class="page-content page-app mailbox" style="margin-top: 21px;">{debug}
          <section class="app" style="height:93vh;">
<object width="100%" height="100%" type="text/html" data="https://client.phasehosting.io/builder/"></object>
</section>
{else}
<div class="page-content" style="margin-top: 21px;">
  
    
	<div class="header">
	<h2><strong>Website</strong> Builder</h2>
	  <h2>You need at least one active service to start using this feature</h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          {foreach $breadcrumb as $item}
          <li{if $item@last} class="active"{/if}>
          {if !$item@last}<a href="{$item.link}">{/if}
            {$item.label}
            {if !$item@last}</a>{/if}
          </li>
          {/foreach}
        </ol>
      </div>
    </div>
<br><br>
	<div class="col-md-2">
    </div>
	
        <div class="col-md-2">
	<a href="/cart.php">
	<div class="panel-transparant">
	<div class="panel-content text-center">
	<i class=" fa fa-desktop fa-4x"></i>
	<h3><strong>Web</strong> Hosting</h3>
	</div>
	</div>
	</a>
	</div>
	
	<div class="col-md-2">
	<a href="/cart.php">
	<div class="panel-transparant">
	<div class="panel-content text-center">
	<i class=" fa fa-wordpress fa-4x"></i>
	<h3><strong>WordPress</strong> Hosting</h3>
	</div>
	</div>
	</a>
	</div>
	
	<div class="col-md-2">
	<a href="/ordervps.php">
	<div class="panel-transparant">
	<div class="panel-content text-center">
	<i class=" fa fa-server fa-4x"></i>
	<h3><strong>VPS</strong> Hosting</h3>
	</div>
	</div>
	</a>
	</div>
	
	<div class="col-md-2">
	<a href="/domainchecker.php">
	<div class="panel-transparant">
	<div class="panel-content text-center">
		<i class=" fa fa-mail-forward fa-4x"></i>

	<h3><strong>Register</strong> a domain</h3>
	</div>
	</div>
	</a>
	
	</div>
	<div class="col-md-2">
    </div>
	
	
	
	
{/if}

