<!DOCTYPE html>
<div class="page-content " style="margin-top: 21px; min-height:100vh;">
  <div class="header">
    <h2><strong>Security</strong> Settings</h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        {foreach $breadcrumb as $item}
        <li{if $item@last} class="active"{/if}>
        {if !$item@last}<a href="{$item.link}">{/if}
        {$item.label}
        {if !$item@last}</a>{/if}
      </li>
      {/foreach}
    </ol>
  </div>
</div>
<div class="profil-content">
  {if $twofaavailable}
  <div class="col-md-6 col-md-offset-3">
    <div class="panel">
      <div class="panel-content">
        {if $twofaactivation}
        
        <div id="twofaactivation">
          {$twofaactivation}
        </div>
        
        {else}
        
        <h2>{$LANG.twofactorauth}</h2>
        {if $twofastatus}
        <div class="col-md-12">
          <div class="text-center">
            <i class="fa fa-4x fa-check"></i>
            <h3>Enabled</h3>
          </div>
        </div>
        {else}
        {include file="$template/includes/alert.tpl" type="warning" msg="{lang key="clientAreaSecurityTwoFactorAuthRecommendation"}"}

        {/if}
        <p>
          {$LANG.twofaactivationintro}
        </p>
        
        <br />
        
        <form method="post" action="clientarea.php?action=security">
          <input type="hidden" name="2fasetup" value="1" />
          <p class="text-center">
            {if $twofastatus}
            <input type="submit" value="{$LANG.twofadisableclickhere}" class="btn btn-danger" />
            {else}
            <input type="submit" value="{$LANG.twofaenableclickhere}" class="btn btn-success" />
            {/if}
          </p>
        </form>

        
        {/if}
      </div>
    </div>
  </div>
  {/if}
  
  {if $securityquestionsenabled && !$twofaactivation}
  <div class="col-md-6 col-md-offset-3">
    <div class="panel">
      <div class="panel-content">
        <h2>{$LANG.clientareanavsecurityquestions}</h2>
        
        {if $successful}
        {include file="$template/includes/alert.tpl" type="success" msg=$LANG.changessavedsuccessfully textcenter=true}
        {elseif $errormessage}
        {include file="$template/includes/alert.tpl" type="error" errorshtml=$errormessage}
        {elseif $nocurrent}
        {include file="$template/includes/alert.tpl" type="info" msg="{lang key="clientAreaSecurityNoSecurityQuestions"}"}
        {else}
        {include file="$template/includes/alert.tpl" type="info" msg="{lang key="clientAreaSecuritySecurityQuestionOtherError"}"}
        {/if}
        
        <form role="form" method="post" action="{$smarty.server.PHP_SELF}?action=security">
          
          {if !$nocurrent}
          <div class="form-group">
            <label for="inputCurrentAns" class="control-label">{$currentquestion}</label>
            <input type="password" name="currentsecurityqans" id="inputCurrentAns" class="form-control" />
          </div>
          {/if}
          
          <div class="form-group">
            <label for="inputSecurityQid" class="control-label">{$LANG.clientareasecurityquestion}</label>
            <select name="securityqid" id="inputSecurityQid" class="form-control">
              {foreach key=num item=question from=$securityquestions}
              <option value={$question.id}>{$question.question}</option>
              {/foreach}
            </select>
          </div>
          
          <div class="row">
            <div class="col-md-6">
              
              <div class="form-group">
                <label for="inputSecurityAns1" class="control-label">{$LANG.clientareasecurityanswer}</label>
                <input type="password" name="securityqans" id="inputSecurityAns1" class="form-control" />
              </div>
              
            </div>
            <div class="col-md-6">
              
              <div class="form-group">
                <label for="inputSecurityAns2" class="control-label">{$LANG.clientareasecurityconfanswer}</label>
                <input type="password" name="securityqans2" id="inputSecurityAns2" class="form-control" />
              </div>
              
            </div>
          </div>
          
          <p class="text-center">
            <input class="btn btn-primary" type="submit" name="submit" value="{$LANG.clientareasavechanges}" />
            <input class="btn btn-default" type="reset" value="{$LANG.cancel}" />
          </p>
          
        </form>
        
        <br />
        <br />
      </div>
    </div>
  </div>
  {/if}
  
  {if $showSsoSetting && !$twofaactivation}
  <div class="col-md-6 col-md-offset-3" >
    <div class="panel" style="min-height:100%;">
      <div class="panel-content">
        <h2>{$LANG.sso.title}</h2>
        
        <div class="col-md-12">
          {include file="$template/includes/alert.tpl" type="success" msg=$LANG.sso.summary}
        </div>
        <div>
          <p>{$LANG.sso.disablenotice}<br><br></p>
        </div>	
        <div class="col-md-12 pull-down">
          <form id="frmSingleSignOn">
            <input type="hidden" name="token" value="{$token}" />
            <input type="hidden" name="action" value="security" />
            <input type="hidden" name="toggle_sso" value="1" />
            <div class="margin-10">
              <input type="checkbox" name="allow_sso" class="toggle-switch-success" id="inputAllowSso"{if $isSsoEnabled} checked{/if}>
              &nbsp;&nbsp;&nbsp;
                <!-- <span id="ssoStatusTextEnabled"{if !$isSsoEnabled} class="hidden"{/if}>
                  {$LANG.sso.enabled}
                </span>
                <span id="ssoStatusTextDisabled"{if $isSsoEnabled} class="hidden"{/if}>
                  {$LANG.sso.disabled}
                </span> -->
              </div>
            </form>
          </div>
          
          <div class="col-md-12">
            <link href="{$BASE_PATH_CSS}/bootstrap-switch.min.css" rel="stylesheet">
            <script src="{$BASE_PATH_JS}/bootstrap-switch.min.js"></script>
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
    {/if}
  </div>
</div>
