<style>
.internal42 {
    width: 100%;
    height: 100%;
}

.container42 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 }
</style>
<div class="page-content page-app mailbox" style="    margin-top: 21px;">

<object width="100%" height="800px" type="text/html" data="https://cloud.phasehosting.be/index.php"></object>

</div>