{if $loggedin}

	<style>
.internal42 {
    width: 100%;
    height: 100%;
}

.container42 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 }
</style>
<div class="page-content page-app mailbox" style="    margin-top: 21px;">
  <div class="col-lg-10 col-md-9">
          <section class="app">
<object width="100%" height="950px" type="text/html" data="https://support.phase.host/{if $smarty.get.s eq true}?s={$smarty.get.s}{else}{/if}" style="overflow:hidden;"></object>
			</section>
		</div>
	  {include file="$template/sidebar_client.tpl"}
	  
</div>

{else}
<style>
.internal42 {
    width: 100%;
    height: 100%;
}

.container42 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 }
</style>

<div class="page-content page-app mailbox" style="    margin-top: 21px;">

          <section class="app">{debug}
<object width="100%" height="950px" type="text/html" data="https://support.phase.host/{if $smarty.get.s eq true}?s={$smarty.get.s}{else}{/if}"></object>
</section>

{/if}