<div class="page-content" style="margin-top: 21px;">
<div class="header">
    <h2><strong>Mass</strong> Pay</h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          {foreach $breadcrumb as $item}
          <li{if $item@last} class="active"{/if}>
          {if !$item@last}<a href="{$item.link}">{/if}
            {$item.label}
            {if !$item@last}</a>{/if}
          </li>
          {/foreach}
        </ol>
      </div>
    </div>

<div class="profil-content col-md-8 col-md-offset-2">

<div class="panel-transparant">
<div class="panel-content">

<form method="post" action="clientarea.php?action=masspay" class="form-horizontal">
    <input type="hidden" name="geninvoice" value="true" />

    <table class="table">
        <thead>
            <tr>
                <th>{$LANG.invoicesdescription}</th>
                <th>{$LANG.invoicesamount}</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$invoiceitems key=invid item=invoiceitem}
                <tr>
                    <td colspan="2" class="bg-info">
                        <strong>{$LANG.invoicenumber} {$invid}</strong>
                        <input type="hidden" name="invoiceids[]" value="{$invid}" />
                    </td>
                </tr>
                {foreach from=$invoiceitem item=item}
                    <tr class="masspay-invoice-detail">
                        <td>{$item.description}</td>
                        <td>{$item.amount}</td>
                    </tr>
                {/foreach}
            {foreachelse}
                <tr>
                    <td colspan="6" align="center">{$LANG.norecordsfound}</td>
                </tr>
            {/foreach}
            <tr class="masspay-total">
                <td class="text-right">{$LANG.invoicessubtotal}:</td>
                <td>{$subtotal}</td>
            </tr>
            {if $tax}
                <tr class="masspay-total">
                    <td class="text-right">{$taxrate1}% {$taxname1}:</td>
                    <td>{$tax}</td>
                </tr>
            {/if}
            {if $tax2}
                <tr class="masspay-total">
                    <td class="text-right">{$taxrate2}% {$taxname2}:</td>
                    <td>{$tax2}</td>
                </tr>
            {/if}
            {if $credit}
                <tr class="masspay-total">
                    <td class="text-right">{$LANG.invoicescredit}:</td>
                    <td>{$credit}</td>
                </tr>
            {/if}
            {if $partialpayments}
                <tr class="masspay-total">
                    <td class="text-right">{$LANG.invoicespartialpayments}:</td>
                    <td>{$partialpayments}</td>
                </tr>
            {/if}
            <tr class="masspay-total">
                <td class="text-right">{$LANG.invoicestotaldue}:</td>
                <td>{$total}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{$LANG.masspaymentselectgateway}</h3>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="paymentmethod" class="control-label">{$LANG.orderpaymentmethod}:</label><br/>
                                <select name="paymentmethod" id="paymentmethod" class="form-control">
                                    {foreach from=$gateways item=gateway}
                                        <option value="{$gateway.sysname}">{$gateway.name}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="{$LANG.masspaymakepayment}" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</form>
</div>
</div>
</div>
</div>
