<link rel="stylesheet" href="/templates/make2/font-mfizz.css">
<div class="page-content page-pricing-tablz">
  <div class="header">
    <h2>Choose your application</h2>
    <h2>Deployed and configured under 10 minutes!</h2>
    <h3>Attention! The following apps require <strong>at least 30GB</strong> storage space: Elixir, Cassandra, Magento, WordPress and GitLab </h3>
  </div>
  <div class="col-md-7">
    <div class="col-md-12">
      <a href="/cart.php?gid=12" class="e" >
        <div class="col-md-3">
          <div class="panel">
            <div class="panel-content text-center">
              <i class="fa fa-wordpress  fa-4x " style="color:blue;"></i>
              <h3>WordPress</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel ">
            <div class="panel-content text-center">
              <i class="fa fa-drupal  fa-4x  " style="color:lightblue;"></i> <p>&nbsp;</p>
              <h3>Drupal</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel ">
            <div class="panel-content text-center">
              <i class="fa fa-joomla  fa-4x " style="color:blue;"></i>
              <h3>Joomla</h3>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <div class="panel ">
            <div class="panel-content text-center">
              <i class="icon-apache  fa-4x " style="color:orange;"></i>
              <h3>LAMP</h3>
            </div>
            
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel ">
            <div class="panel-content text-center">
              <i class="icon-nginx  fa-4x " style="color:green;"></i>
              <h3>LEMP</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel ">
            <div class="panel-content text-center">
              <i class="icon-nginx  fa-4x " style="color:lightblue;"></i>
              <h3>Owncloud</h3>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-md-12">
      </a>
    </div>
  </div>
  <div class="col-md-5">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-content">
          <h1>Distributions <strong>&</strong> <br>One-Click Install Apps</h1>
          <p>Choose your favorite Linux distribution or install your favorite application with the simple click of a button. Click on the Application and be live on a cloud server under 15 minutes.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-content">
          <h1><strong>Multiple</strong> Datacenter Locations</h1>
          <p>Select the best location based on latency, or deploy across regions for high availability.</p>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" viewBox="0 0 1284.8 703" enable-background="new 0 0 1284.8 703" xml:space="preserve"><script/>
            <polygon fill="#F4F4F4" points="727.9,322.2 727.9,346.5 734.5,353 734.5,365.1 739.7,370.3 739.7,377.6 757.7,395.3 757.7,401.1   762.4,401.1 768.3,395.3 787.2,395.3 787.2,407.3 775.4,418.9 775.4,429.6 742.7,462 742.7,488.5 747.8,493.6 747.8,518.3   742.4,523.6 733.6,523.6 722.8,534.3 729.2,540.6 729.2,557.3 718.9,557.3 718.9,563.3 723.1,567.5 694.3,596 684.8,596 680,600.7   666.3,600.7 666.3,593.4 670.5,589.2 664.1,582.9 664.1,569.9 657.8,563.6 657.8,541.6 641.4,525.4 641.4,508.2 646.2,503.5   646.2,480 646.2,467.4 629,450.5 637.7,441.8 637.7,430 616.6,430 616.6,419.7 605.3,419.7 595,430 566.8,430 554.5,417.8   554.5,408.1 533.1,387 542.1,378.1 542.1,357.7 537.9,353.5 537.9,342.6 555.3,325.3 563.2,325.3 563.2,313.3 563.2,304.4   576.5,291.4 592.8,291.4 601.3,283 637.7,283 642.8,288 637.2,293.5 637.2,301.2 649.9,301.2 659.1,310.2 665.2,310.2 670,314.9   670,301.2 676.3,301.2 685.4,310.1 701.2,310.1 707.5,310.1 711.4,306.2 719.5,306.2 "/>
            <polygon fill="#F4F4F4" points="947.9,423.6 954.8,423.6 970.4,439 970.4,448.1 981.6,459.2 981.6,465.4 976.4,470.5 964,458.3   964,449.2 947.8,433.1 "/>
            <polygon fill="#F4F4F4" points="991.1,436.3 991.1,445.7 995.6,450.2 995.6,458.9 1002.2,465.4 1011.8,465.4 1023.8,453.6   1023.8,441.8 1026.6,439 1020.6,433.1 1020.6,425.1 1026.6,425.1 1030,421.8 1020.5,412.4 999.2,435.7 "/>
            <polygon fill="#F4F4F4" points="986.1,470.5 981.2,475.3 986,480 1006.6,480 1010.9,484.3 1022.4,484.3 1037.9,484.3 1042.8,479.4   1016.8,479.4 1010.8,473.6 991.1,473.6 "/>
            <polygon fill="#F4F4F4" points="1072.8,447 1072.8,453.3 1080.5,453.3 1080.5,457.2 1074.9,462.7 1085.1,462.7 1096.6,474.1   1091.1,479.5 1104.1,479.5 1104.1,484.3 1114.3,484.3 1114.3,477.4 1122.8,477.4 1132.5,487 1144.3,487 1130.6,473.5 1130.6,468.7   1123.9,468.7 1109.1,454.1 1101,454.1 1095.6,448.9 1088.6,455.8 1088.6,447 "/>
            <polygon fill="#F4F4F4" points="566,185.5 561.8,189.7 558.6,189.7 558.6,196.4 562.6,200.4 558.6,200.4 558.6,205.9 566,205.9   573.2,198.7 573.2,185.5 "/>
            <polygon fill="#F4F4F4" points="577.4,171.1 573.4,175 577.8,179.3 577.8,188.8 582.7,188.8 586.2,192.3 582.4,196.1 579,196.1   579,204.9 585,204.9 575.3,214.6 578,214.6 581.8,210.8 586.2,210.8 599.4,210.8 599.4,206.4 602.6,203.1 602.6,199.6 598,199.6   598,193.5 586,181.5 584.6,180 588.3,176.3 588.3,171.1 583.1,171.1 583.1,168.8 588.1,163.8 588.1,161.1 583.5,161.1 580.1,164.5   577.6,164.5 "/>
            <polygon fill="#F4F4F4" points="323.4,408.9 323.4,431.4 305.4,449.2 305.4,469.5 332.3,496.2 332.3,513.4 343.4,524.4 343.4,574   343.4,596 337.9,601.5 337.9,632.5 332.3,638.1 332.3,645.6 336.6,645.6 336.6,637.6 339.2,637.6 339.2,652.4 332.1,659.5   332.1,691.6 343.6,703 363.5,703 352,691.5 352,682.7 365.4,669.4 365.4,664.4 357.7,664.4 357.7,657.6 364.5,650.9 364.5,637.6   375.7,637.6 375.7,623.7 389.9,623.7 398.1,615.6 384.7,602.2 403.1,602.2 410.5,594.9 410.5,584.5 423,572.2 423,561.5   438.9,545.7 449.6,545.7 460.2,535.3 460.2,507.2 477.4,490.1 477.4,472.1 463.9,472.1 454.4,462.7 438.6,462.7 438.6,451.2   426.4,451.2 418.5,443.4 418.5,427.7 412.7,422 391.4,422 383.3,414 373,403.8 357.2,403.8 351.6,398.3 346.1,398.3 346.1,407.4   341.3,407.4 341.3,395.3 336.8,399.8 330.8,399.8 "/>
            <polygon fill="#F4F4F4" points="248.3,326.4 248.3,357.7 259.4,368.7 272.6,368.7 283.2,358.2 289.6,358.2 289.6,377.1 301.2,377.1   301.2,400.6 307.8,407.1 323.4,407.1 323.4,413.1 309.1,413.1 302.2,413.1 296.2,407.1 289.6,407.1 289.6,399 284.5,394 275.3,394   260.9,379.8 238.8,379.8 221.1,362.3 221.1,352.5 205.4,337 205.4,330 189.3,314.2 186,314.2 195.1,323.2 195.1,330.6 197.9,333.4   207.7,343.1 201.8,343.1 191.8,333.1 186,333.1 186,322.2 178.2,314.5 178.2,301.2 171.7,301.2 159.9,289.5 159.9,280.9   153.4,274.5 153.4,248.3 153.4,227.6 157.5,227.6 161.2,231.3 161.2,224.5 149.3,212.7 140,212.7 140,206.7 122.1,189 116.8,189   116.8,170.7 108.8,170.7 99.1,161 76.1,161 70.9,155.9 65.5,155.9 65.5,160.2 70.3,160.2 70.3,163.4 59.7,163.4 52.6,170.4   50.2,168.1 50.2,162.3 56,156.6 56,152.4 51,157.4 44.4,163.9 44.4,170.2 28.5,185.8 21.1,185.8 11.4,195.5 4.2,195.5 17.8,182   25.4,182 35.6,171.9 22.2,171.9 17.5,176.5 17.5,163.9 7.4,163.9 7.4,155.5 0,155.5 0,152.4 7.4,145.1 16.9,145.1 16.9,136.2   0,136.2 0,128.4 4.8,123.7 8.5,123.7 15.6,130.7 15.6,123.7 1.7,109.9 1.7,104.8 8.5,104.8 19.8,93.6 41.7,93.6 47.7,99.5   89.8,99.5 104.4,113.9 111.5,113.9 111.5,106.4 118.1,99.9 134.7,99.9 138.8,103.9 144.2,103.9 138.6,98.4 144.8,98.4 153.9,107.4   167,107.4 187,107.4 187,117.4 199.2,117.4 199.2,112.7 209.2,122.6 209.2,108.5 219.3,108.5 224.8,114 247.3,114 258.2,103.2   253.9,98.8 262.3,90.5 270.5,98.6 266,103 274.8,111.6 280,106.4 283.2,109.6 279.2,113.5 286.1,120.3 286.1,128.4 267.5,146.8   260.1,154.1 260.1,169.1 266.8,169.1 266.8,175.9 277.4,175.9 292.7,191.1 305.9,191.1 305.9,200.5 314.9,209.3 321,203.3   314.6,197.1 314.6,191.1 324.3,181.5 314.6,172 322,164.7 316.5,159.2 316.5,148.2 336.6,148.2 343.7,155.3 350.3,155.3   350.3,164.4 358.2,172.2 370.4,160.2 370.4,168.1 378.6,176.2 378.6,185.8 383.1,185.8 394.2,185.8 394.2,194.2 398.7,198.6   398.7,207.3 389.4,207.3 384.1,212.5 360.4,212.5 344.8,227.9 344.8,232.9 359.7,218.1 369.9,218.1 369.9,228.7 374.4,233.1   374.4,239.6 360.4,239.6 360.4,245.4 351.4,245.4 346.3,250.4 346.3,257.9 340.1,264 334.6,269.5 331.4,272.7 331.4,281.4   328.1,281.4 328.1,273.6 324.2,277.5 324.2,282 327.7,285.5 327.7,291.9 310.8,308.7 310.8,317 314.4,325.3 314.4,335.8 308,335.8   300.9,328.7 300.9,322.2 294.2,315.6 277.4,315.6 282.6,320.7 272.1,320.7 266.3,314.9 257.3,314.9 "/>
            <polygon fill="#F4F4F4" points="456,129.9 456,138.8 450.2,144.6 450.2,162.8 440.1,162.8 432.5,155.3 426.4,155.3 414.1,143.2   422.2,135.2 415.5,128.6 409,128.6 409,114.3 420.1,103.3 406.3,89.7 406.3,92.8 401,92.8 401,73.5 386.2,58.9 366.2,58.9   360.1,64.9 339.4,44.4 344.9,38.9 365.6,38.9 370.6,34 366.2,29.6 357.7,29.6 369.3,18.1 379.9,18.1 385.2,12.9 411.1,12.9   418.7,20.5 418.7,9.8 431.7,9.8 434.9,6.6 452.3,6.6 459,0 473.4,0 493,0 493,6.6 512,6.6 521.2,15.8 495.1,15.8 493.1,17.7   513.6,17.7 513.6,27.5 524.4,16.8 539.5,16.8 545.4,10.9 554.8,10.9 561.9,17.9 557.4,22.3 547.9,22.3 530.5,39.5 530.5,49.5   536.3,49.5 536.3,56.3 524.7,56.3 524.7,69.8 516.2,78.2 511.2,73.2 506.7,73.2 506.7,81.4 521,81.4 521,90.5 500.5,110.7   485.6,110.7 473.2,122.9 462.9,122.9 "/>
            <polygon fill="#F4F4F4" points="514.6,126.3 514.6,133.6 522.1,140.9 535.2,140.9 548.5,127.9 541.6,121 531.6,121 526.5,126   522.8,122.4 514.6,122.4 "/>
            <polygon fill="#F4F4F4" points="759.8,520.2 759.8,534.3 753.7,540.3 753.7,554.2 764.2,564.5 775.1,553.7 775.1,533.3 786.2,522.3   786.2,507.2 779.6,500.6 768.9,511.3 "/>
            <path fill="#F4F4F4" d="M1278.1,113.4h-10.2v7.3l-6-5.9v-10.1h-15.1l-8.1-8h-9.2h-11.3v10.5h-9.2l-8.5-8.4h-18.3l-4.6,4.5l-8.8-8.7  h-29.6V81h-7.4l-5.3,5.2l-8.5-8.4h-16.9v10.4h-20.4l-10.2,10.1l-10.9-10.8l5.3-5.2l-11.6-11.5h-12V80h-7l-6.4-6.3h-19.7l-17,16.8  l-6.4-2.8l23.3-23v-8.4h-27.5V44.9h-10.4l-10.4,10.2l-4.9,4.9l-6.7-6.6h-14.8l-10.5,10.4h-13.5l-10,9.9v15.9l-5.1,5V83.8l-6.7-6.6  h-6.2l-5.6,5.6l5,4.9v9.6l-6.8-6.7V79l-8,7.9v16v11.3l-7.2,7.1h-5.3l9.5-9.4v-7.7V82.7h-12.1l-7.9,7.8v18.3l-12.4-12.3h-19.5  l7.6,7.5h-22.5H783l-13.3,13.2l-8-7.9v8.8h-11l-10.5,10.4l-8.5,8.4l-5.9-5.8V121h-6.3l5.5-5.4l7.2,7.1h6.7l8.9-8.8l-11.4-11.2h-16.7  l-5.1-5h-8.1l-4.6-4.5h-19.7l-7.7,7.7h-8.5L645.5,121v9.9h-7.7v9.4h-7.6l-10,9.9l5.3,5.2l-7.4,7.3v9.1h14.1l6.3-6.3l8.8,8.7l6,5.9  l7-6.9v-5.5l6.4-6.3l3.6-3.6l-4.9-4.8v-12l10.7-10.6l3.3-3.2h14.1l-4,3.9l-13.6,13.5v11.5h4.8v6.4l6.5-6.4h7H705l-6.7,6.6h-11.3  v10.3h-11.3v13.8h-6v5.2l-5.2-5.1l-4.5,4.4h-7.6l-9.2-9.1h-4.8v-9.2l-5.5,5.4v17.1l-2.8,2.8h-15.2v9.5l-4.5,4.4l-9.1,9H596l-4.8,4.7  h-6.3v4.5h5l6.6,6.5v11.7l-3.7,3.6h-6.9l-4.2-4.1h-12.2l-6.6,6.6h6.6v7.8l-6.8,6.7v6.4l7.1,7h6v4.5l5.3-5.2h10l5.5-5.5v-8.8  l10.9-10.8v-8.7h8.9l3.4,3.3l5.5-5.5h8l6.8,6.7v5.6h4.9l10.8,10.7v11.8l5.9-5.9v-5.6h5.9v-3.1l-7.7-4.7l-16-15.8v-7.2l5.5,5.4  l5.1,5.1h10.9v7.2l5,5v10.2h5.5v6.3l5.5,5.5v-14.4l7.5-7.4h13.9v-9.7l10.1-10V236h5.7v6.8l5.2,5.1l5-5h8.3l7.4,7.3l7.4,5.4l-6.2,6.1  h-12.7l-2.8-2.8h-12.7l-10.6,10.4h-10.6v5.6l13.2,13.1l5.1-5h17.5v10l-13.3,13.2l8.4,16h3.2V336l11.6,11.5v12.2h6.7l10.9,10.8v20.2  h11.1l14.8-14.7h10l19-18.8v-15h-9.5l-6-5.9l-7,7h-10.6V330h-7.7v-13.4h5.8l13.9,13.8h15.1l10.9,10.8h19.7l15.4,15.2l6.1-6v28.7  l7.4,7.3v18.8l10.3,10.2l16.6-16.4v-15.2l12.1-12v-10.7l13.7-13.6l17.7,17.5v16.5l5.4-5.4l8.2,8.2v24.8l10.9,10.7v8.5l17.5,17.3  v-6.4l-6.9-6.9v-13.1l-13.2-13.1v-17l17.2,17l10.9-10.7v-18.7l-13-12.9l9.9-9.8l8,7.9v-10.7l9.4-9.3h12.2l24.9-24.6v-20.4  l-10.2-10.1l6-5.9l-4.8-4.7h-7.7l-7.7-7.7h12.7l8.5-8.4V275l5.6-5.6h5.6v8.4h4.2v13.9l4.4,4.4l9-8.9v-14.3h-10.5v-11.1l15.5-15.3  h10.9l26.1-25.8v-27.5l-4.7-4.6l-4.8,4.8h-12.9l27-26.7h20.9l8-7.9v5h13.1l6.2-6.1l14.5-14.4h9.5v10.9l-15,14.8l-11.4,11.3v14.6  v12.6h6.4l15.6-15.4v-8.9l3.7-3.6v-11.8l12.4-12.3h18.6l14.5-14.4h13.9l-11.1-11h19.2v-9.9l11.8,11.7h9.5l12-11.8L1278.1,113.4z   M801.2,263.1h-4.9v21.5h-11.6l-6.1-6.1v-11L770,259v-17.4l20.2-12.5v7.7v8.6l11,10.9V263.1z"/>
            <polygon fill="#F4F4F4" points="1102.7,256.8 1102.7,271.5 1089.3,284.8 1078.8,284.8 1070.3,293.1 1070.3,301.2 1081.1,290.5   1086.2,295.6 1093.6,295.6 1093.6,291 1102.7,291 1108.4,283 1108.4,272.9 1112.6,272.9 1112.6,265.3 "/>
            <polygon fill="#F4F4F4" points="1106.9,233.4 1106.9,245.3 1101.9,250.3 1101.9,256.8 1106.9,251.9 1113.9,258.9 1124.6,248.4   1119.4,243.2 1113.3,243.2 "/>
            <polygon fill="#F4F4F4" points="1013.7,545.5 1013.7,561.8 1008.1,561.8 1022.9,576.6 1022.9,591.6 1014.6,599.8 1014.6,607.8   1033.4,607.8 1052.2,589.3 1068.6,589.3 1073.4,584.6 1083.4,584.6 1095.3,596.3 1100.2,591.4 1100.2,601 1107.5,608.3   1107.5,618.4 1127.8,618.4 1132.1,622.7 1142.8,612 1142.8,600.7 1158.1,585.5 1158.1,561.8 1148.4,552.2 1148.4,545.5 1130.6,528   1130.6,516 1123.6,509.1 1123.6,500.6 1116.2,493.4 1116.2,513.2 1107.9,521.5 1097.8,511.6 1097.8,500.6 1076.4,500.6   1064.7,512.2 1058.8,506.3 1036,528.8 1027.8,528.8 "/>
            <polygon fill="#F4F4F4" points="1122.1,635 1128.5,647 1135.6,647 1146.1,636.5 1146.1,627.5 1140.6,633 1128.5,633 1128.3,627.5   1122.1,627.5 "/>
            <polygon fill="#F4F4F4" points="1206.7,658.3 1215.3,649.3 1215.3,642.5 1220,642.5 1229.4,633.2 1220.5,624.5 1220.5,633.1   1213.7,633.1 1213.7,637.6 1208.9,637.6 1197.5,648.9 "/>
            <polygon fill="#F4F4F4" points="1222.9,620 1228.6,623.8 1228.6,630.2 1234.5,630.2 1237.2,627.5 1237.2,620 1241.4,620   1241.4,611.1 1238.8,611.1 1236.4,613.5 1231.8,609 1231.8,604.3 1223,595.6 1220.3,598.3 1226.4,604.3 1226.4,616.1 "/>
            <polygon fill="#F4F4F4" points="1034,332.8 1027.4,339.4 1027.4,348.6 1035.4,348.6 1035.4,342.9 1040.7,337.7 "/>
            <polygon fill="#F4F4F4" points="1050.6,477.4 1041.9,486 1041.9,490.3 1046.2,490.3 1054,482.5 1054,477.4 "/>
            <polygon fill="#F4F4F4" points="1134.4,468.7 1134.4,473.2 1144.3,473.2 1151.1,466.5 1151.1,458.9 1144.3,452.3 1140.2,456.3   1146.2,462.2 1140.7,467.6 "/>
          </svg>
          
        </div>
      </div>
    </div>
  </div>
</div>

</div>
